@import 'globalStyles';

body {
  font-family: 'Karla', 'sans-serif' !important;
  margin: 0;
  padding: 0;
}
html {
  margin: 0;
  padding: 0;
}
.app-container {
  width: 100vw;
  height: 100vh;
  background: black;
  display: flex;
  align-items: center; //veritcal
  justify-content: center;
}
.app-component-holder {
  flex-basis: $width-app-pct;
  max-width: $width-app-max;
}
.audio-widget {
  background: #0E0E0E;
  border-top: 1px solid #4A4747;
  .audio-status {
    color: #CDCDCD;
  }
  .audio-timer {
    color: #939292;
  }
}
.app-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

strong {
  font-weight: 700;
}
html {
  font-size: 20px;
}

.button {
  border-width: 1px;
  border-style: solid;
  padding: 15px 10px;
  text-align: center;
  cursor: pointer;
  transition: all .3s ease-in-out;
  cursor: pointer;
  background: #141414;
}
.dialog-container {
  border: .5px solid #9C9A9A;
  padding: 20px;
  margin-bottom: 30px;
  border-radius: 2px;
  .dialog-text {
    color: $color-text-grey;
  }
}



.fade-leave {
  opacity: 1;
}

.fade-leave.fade-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.fade-appear {
  opacity: 0.01;
}
.fade-appear.fade-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.app-header {
  position: absolute;
  top: 0;
  width: 100%;
}

//audiobuttons change state
//if we are in record page + state of play
//run (voiceRecordPlay)
//state
