@import url('https://fonts.googleapis.com/css?family=Karla:400,700');
$color-text-grey: #9C9A9A;
$color-start: #73DDC8;
$color-pause: #F4E4B7;
$color-stop: #EF86A3;
$color-neutral: #9C9A9A;
$width-app-max: 500px;
$width-app-pct: 75%;
